.heading {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 22px 0;
    z-index: 999;
    background-color: $_1BA3E1;
    backdrop-filter: blur(6px);
    @include mmd {
        padding: 10px 0;
    }
    @include mmd {
        .navbar-toggler {
            background: $primary;
            border-color: $primary;
            padding: 6px;
        }
        .navbar-collapse {
            padding: 15px;
            & .navbar-nav {
                & a {
                    border-bottom: 1px solid #f3f3f321;
                    padding:16px 0px;
                }
            }
        }
        & .inline__btn {
            margin-top: 15px;
        }
    }
    & .navbar-brand{
        max-width: 186px;
    }
}

.navbar-nav  {
    a {
        display: block;
        color: $white !important;
        font-size: 18px;
        padding:5px 20px;
        text-transform: capitalize;
        cursor: pointer;
        &:hover,
        &.active,
        &:focus {
            color: $primary !important;
        }
    }
    
    
}
